%h1 Welcome to Bingo!

%form{:method => 'get', :action => '/you_win', :id => "bingo"}
  %select{:name => "course[id]", :id => "courses"}
    - @courses.each do |course|
      %option{:value => course.id}
        = course.name
  %button Choose random student